.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 92px 50px 96px 50px;
    background: #fff;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 36.58px;
}


.header__box-navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.header__box-navigation-list-item {
    display: flex;
    align-items: center;
    gap: 12px;

    &:first-child .header__box-navigation-list-item-text {
        &::before {
            display: none;
        }
    }
}

.header__box-navigation-list-item-svg {
    transform: translate(0px, 2px);
}


.header__box-navigation-list-item-text {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;

    transition: .2s ease-in-out;

    @media (hover: hover) {
        &:hover {
            opacity: .8;
        }
    }

    &::before {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        width: 100%;
        height: 1px;
        background: #000;
    }
}

.header__box-logo {
    display: flex;
    width: 148px;
    height: 105px;
}

.header__box-logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__contacts {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
}

.header__contacts-list {
    display: flex;
    flex-direction: column;
    max-width: 214px;
}


.header__contacts-list-item-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

    transition: .2s ease-in-out;


    @media (hover: hover) {
        &:hover {
            opacity: .8;
        }
    }
}


.preview {
    display: flex;
    flex-direction: column;
    gap: 106px;

    position: relative;
    padding: 165px 50px 50px 50px;

    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 757px;

    margin: 0 0 180px 0;
}

.preview__overlay {
    position: absolute;
    z-index: 10;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

.preview__title {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preview__title-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;

    &:nth-child(3n + 1) {
        text-align: start;
    }

    &:nth-child(3n + 2) {
        text-align: center;
    }

    &:nth-child(3n + 3) {
        text-align: end;
    }
}

.preview__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.preview__info-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 1.1em;
}

.preview__info-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #fff;

    padding: 12px 32px 11px 31px;

    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    transition: .2s ease-in-out;

    @media (hover: hover) {
        &:hover {
            background-color: #fff;
            color: #000;

        }
    }
}

.lots {
    padding: 0 24px;
    margin: 0 0 120px 0;
}
.lots-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;

    padding: 0 0 0 40px;
    margin: 0 0 27px 0;
}

.lots__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 0 30px 0;
}

.lots__list-item {
    display: flex;

    min-height: 596px;
}

.lots__list-item--film {
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-01.jpg);
}

.lots__list-item--book {
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-02.jpg);
}

.lots__list-item--picture {
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-03.jpg);
}



.lots__list-item-link-article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
}

.lots__list-item-link-article-overlay {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.lots__list-item-link-article-title {
    position: relative;
    z-index: 20;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lots__list-item-link-article-text {
    position: relative;
    z-index: 20;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;

    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lots__link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;

    padding: 0 0 0 40px;

    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.about {
    padding: 0 24px;
    margin: 0 0 180px 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    padding: 35px 0 0 47px;
}

.about__container-picture {
    display: flex;

    min-width: 240px;

    width: 240px;
    height: 240px;
}

.about__container-picture-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__container-content {
    padding: 101px 0 0 0;
}

.about__container-content-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;

    margin: 0 0 100px 0;
}

.about__container-content-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__container-content-box-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;

    max-width: 690px;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px 82px 50px;
}

.footer__contacts {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
    max-width: 242px;
}

.footer__contacts-list {
    display: flex;
    flex-direction: column;
}



.footer__contacts-list-item-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__contacts-list-item-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
}


.footer__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer__navigation-list-item-link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__navigation-list-item-link--active {
    text-decoration: none;
}



.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
}



.footer__social-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
