/* Шапка */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    gap: 0;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
    margin: 0;
    padding: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: auto;
}

.header__logo-image {
    width: 100%;
    height: auto;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    text-align: right;
}

/* Обложка */
.cover {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    margin: 0 0 135px;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    line-height: 115px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
}

.cover__description-text {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin: 0;
}

.bet-button {
    padding: 12px 32px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bet-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Лоты */
.lots {
    width: 1100px;
    margin: 0 auto;
    padding: 180px 50px 0;
}

.lots__heading {
    margin: 0 0 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    justify-content: space-between;
}

.lots__card-list-item {
    flex: 0 0 calc((100% - 50px) / 3);
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
}

.card__text {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000;
    display: inline-block;
}

/* Об аукционе */
.about {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 180px 50px 0;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: auto;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 24px;
}

.about__text p {
    margin: 0;
}

.about__text p:first-child {
    margin-bottom: 0;
}

/* Подвал */
.footer {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 180px 50px 90px;
    gap: 0;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__menu-list-item {
    margin: 0;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__social-list-item {
    margin: 0;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

/* Общие правила */
body {
    min-width: 1100px;
}

main {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


